@model QuizeManagement.Models.QuizModel

<main id="main" class="main">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add New Quiz </h5>
                @* <form class="row g-3"> *@
                @*     <div class="col-12"> *@
                @*         <label for="inputquesation4" class="form-label" placeholder="User Id"> *@
                @*             <span class="text-danger">*</span> *@
                @*             User  ID</label> *@
                @*         <select id="inputState" class="form-select"> *@
                @*             <option selected disabled>User ID</option> *@
                @*         </select> *@
                @*     </div> *@
                @*     <div class="col-12"> *@
                @*         <label for="inputName4" class="form-label"> *@
                @*             <span class="text-danger">*</span> *@
                @*             Quiz Name</label> *@
                @*         <input type="text" class="form-control" id="inputName4"> *@
                @*     </div> *@
                @*     <div class="col-12"> *@
                @*         <label for="inputQuestions4" class="form-label"> *@
                @*             <span class="text-danger">*</span> *@
                @*             TotalQuestions</label> *@
                @*         <input type="number" class="form-control" id="inputQuestions4"> *@
                @*     </div> *@

                @*     <div class="col-12"> *@
                @*         <label for="inputdate" class="form-label"> *@
                @*             <span class="text-danger">*</span> *@
                @*             QuizDate</label> *@
                @*         <input type="date" class="form-control" id="inputdate"> *@
                @*     </div> *@
                @*     <div class="text-center"> *@
                @*         <button type="submit" class="btn btn-primary">Save</button> *@
                @*         <a class="btn btn-secondary" asp-controller="Quiz" asp-action="List">Cancel</a> *@
                @*     </div> *@
                @* </form><!-- Vertical Form --> *@

                @using (Html.BeginForm("Create", "Quiz", FormMethod.Post))
                {
                    <div class="row g-3">
                        <div class="col-12">
                            <span class="text-danger">*</span>
                            @Html.LabelFor(model => model.UserID, "User ID", new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.UserID, new SelectList(new List<SelectListItem>{}), "User Id" ,new { @class = "form-select", required = "required" })
                            @Html.ValidationMessageFor(model => model.UserID,"", new { @class = "text-danger" })

                        </div>

                        <div class="col-12">
                            <span class="text-danger">*</span>
                            @Html.LabelFor(model => model.QuizName, "Quiz Name", new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.QuizName, new { @class = "form-control", placeholder = "Enter Quiz Name", required = "required" })
                            @Html.ValidationMessageFor(model => model.QuizName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-12">
                            <span class="text-danger">*</span>
                            @Html.LabelFor(model => model.TotalQuestions, "Total Questions", new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.TotalQuestions, new { @class = "form-control", type = "number", required = "required", placeholder="Enter Total Questions" })
                            @Html.ValidationMessageFor(model => model.TotalQuestions, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-12">
                            <span class="text-danger">*</span>
                            @Html.LabelFor(model => model.QuizDate, "Quiz Date", new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.QuizDate, new { @class = "form-control", type = "date", required = "required" })
                            @Html.ValidationMessageFor(model => model.QuizDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="text-center">   
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-secondary" href="@Url.Action("List", "Quiz")">Cancel</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
