@model DataTable
@using System.Data

<main id="main" class="main">
    <div class="container mt-3">
        <!-- Quiz List Section -->
        <div class="card">
            <div class="card-body">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">User List</h5>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            @* <th>#</th> *@
                            @* <th>Quiz ID</th> *@
                            <th>User Name</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            @* <th>Is Active</th> *@
                            @* <th>Is Admin</th> *@
                            @* <th>Created</th> *@
                            @* <th>Modified</th> *@
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>                                
                            @* <td>@row["UserID"]</td> *@
                            <td>@row["UserName"]</td>
                            <td>@row["Password"]</td>
                            <td>@row["Email"]</td>
                            <td>@row["Mobile"]</td>
                            @* <td>@row["IsActive"]</td> *@
                            @* <td>@row["IsAdmin"]</td> *@
                            @* <td>@row["Created"]</td> *@
                            @* <td>@row["Modified"]</td> *@
                            <td>
                                <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-pencil"></i></a>
                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>