
<h2>Create Helper</h2>

@model Address_Book.Models.HelperModel

<main id="main" class="main">
    <div class="container">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Create", "Helper", FormMethod.Post))
                {
                    <div class="col-12">
                        <div class="form-group">
                            @Html.Label("Name", "Name")
                            @Html.TextBox("Name", null, new { @class = "form-control", placeholder = "Enter Name" })
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            @Html.Label("Email", "Email")
                            @Html.TextBox("Email", null, new { @class = "form-control", placeholder = "Enter Email" })
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            @Html.Label("Password", "Password")
                            @Html.Password("Password", null, new { @class = "form-control", placeholder = "Enter Password" })
                            <span class="text-danger" asp-validation-for="Password"></span>
                           
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            @Html.Label("PhoneNumber", "Phone Number")
                            @Html.TextBox("PhoneNumber", null, new { @class = "form-control", placeholder = "Enter Phone Number" })
                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-secondary">Cancel</a>

                }
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
